.header {
  padding: 20px;
  overflow: hidden;
}

.header__logo {
  display: block;
  width: 225px;
  margin: auto;
}

.header__address {
  display: flex;
  align-items: center;

  span {
    max-width: 200px;
    margin-left: 10px;
  }
}

.header__phone {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;

  span {
    margin-left: 10px;
  }
}

.header__open-menu {

}
