.header {
  padding: 20px;
}

.header__logo {
  display: block;
  width: 225px;
}

.header__address,
.header__phone {
  max-width: 200px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__address {
  font-size: 16px;
  line-height: 15px;

  span {
    max-width: 200px;
    margin-left: 10px;
  }
}

.header__phone {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;

  span {
    margin-left: 10px;
  }
}

.header__open-menu {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 20;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "GothamPro", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 700;

  span {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo {
    margin-right: 10px;
  }

  .header__open-menu {
    display: flex;
    align-items: center;
  }

  .header__phone {
    margin-right: 40px;
  }
}

@media (min-width: 1024px) {
  .header {
    max-width: 1170px;
    margin: auto;
  }

  .header__logo {
    margin-right: 100px;
  }

  .header__open-menu {
    span {
      display: inline;
      transition: 0.5s ease;
    }

    &--active {
      span {
        color: #fff;
      }
    }
  }

  .header__phone {
    margin-right: 130px;
  }
}
