.portfolio {
  padding: 20px;
  background-color: #EFEFEF;
}

.portfolio__title {
  font-size: 18px;
  font-weight: 900;
  line-height: 26px;
  text-transform: uppercase;

  span {
    color: #FF2E00;
  }
}

@media (min-width: 768px) {
  .portfolio__title {
    max-width: 880px;
    margin: 0 auto 30px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .portfolio {
    padding: 70px 0 100px;
  }

  .portfolio__wrapper {
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    padding: 45px 0 0 66px;
    background-image: url("../img/portfolio-back.svg");
    background-repeat: no-repeat;
    background-position: top left;
  }

  .portfolio__slider {
    margin-right: auto;
    margin-left: 0;
    max-width: none;
  }
}
