.slider {
  position: relative;
  overflow-x: hidden;
}

.slider__list {
  position: relative;
  left: 0;
  @include list;
  display: flex;
  transition: 0.5s ease;
}

.slider__item {
  min-width: 100%;
}

.slider__controls {
  display: flex;
}

.slider__btn {
  width: 48px;
  height: 63px;
  background-color: #FFD136;
  border: none;
  background-image: url("../img/arroy-left.svg");
  background-repeat: no-repeat;
  background-position: center;

  &--next {
    background-image: url("../img/arroy-right.svg");
  }
}

.slider__pag {
  background-color: #FFD136;
  padding: 18px 5px;
  width: 85px;
  font-size: 26px;
  font-weight: 900;
}

.slider__active-pag {

}

.slider__all-pag {
  font-size: 16px;
  font-weight: 700;
}

@media (min-width: 1024px) {
  .slider {
    max-width: 865px;
    margin-right: -150px;
  }
}
