.slider {
  position: relative;
  overflow-x: hidden;
}

.slider__list {
  position: relative;
  left: 0;
  @include list;
  display: flex;
  transition: 0.5s ease;

  &--portfolio {
    background-color: #fff;
  }
}

.slider__item {
  position: relative;
  min-width: 100%;
  overflow-y: hidden;
  transition: 0.5s ease;
  opacity: 1;

  &--hide {
    display: none;
    opacity: 0;
    transition: 0.5s ease;
  }
}

.slider__controls {
  position: relative;
  z-index: 2;
  display: flex;

  &--portfolio {
    background-color: #fff;
    align-items: flex-end;

    .slider__btn {
      width: 73px;
      height: 47px;
    }
  }
}

.slider__btn {
  width: 48px;
  height: 63px;
  background-color: #FFD136;
  border: none;
  background-image: url("../img/arroy-left.svg");
  background-repeat: no-repeat;
  background-position: center;

  &--next {
    background-image: url("../img/arroy-right.svg");
  }
}

.slider__pag {
  background-color: #FFD136;
  padding: 17px 5px;
  width: 85px;
  font-size: 26px;
  font-weight: 900;

  &--portfolio {
    width: 115px;
    padding: 25px 5px;
    margin-right: auto;
    text-align: center;
    background-color: transparent;
    background-image: url("../img/btn-back.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.slider__all-pag {
  font-size: 16px;
  font-weight: 700;
}

.slider__btn-info {
  background-color: #FFD136;
  border: none;
  flex-grow: 1;
}

.slider__info-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.slider__preview {
  display: none;
  @include list;
  position: relative;
  left: 0;
  transition: 0.5s ease;
}

.slider__dots {
  @include list;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.slider__dot {
  width: 13px;
  height: 13px;
  margin: 10px 3px;
  border: 4px solid #C4C4C4;
  background-color: #C4C4C4;

  &--active {
    background-color: #000;
  }

  img {
    position: relative;
    z-index: -1;
  }
}

.slider__info {
  padding: 10px;
  background-color: #ffffffc2;
  display: none;
}

.slider__more-info {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 5px 30px 5px 10px;
  color: #909090;
  font-size: 14px;
  background-color: #F3F3F3;
  background-image: url("../img/up.svg");
  background-repeat: no-repeat;
  background-position: center right 5px;
  border: none;

  &--active {
    background-image: url("../img/down.svg");
  }

  &--active ~ .slider__info {
    display: block;
  }
}

.slider__info-text {
  margin: 5px 0;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .slider {
    max-width: 840px;
    margin: auto;
  }

  .slider__info-title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 25px;
  }
}

@media (min-width: 1024px) {
  .slider {
    margin-right: -150px;
  }

  .slider__more-info {
    display: none;
  }

  .slider__list {
    &--portfolio {
      .slider__item {
        display: flex;
        flex-wrap: wrap;
        opacity: 1;

        &--hide {
          display: none;
          opacity: 0;
          transition: 0.5s ease;
        }

        .slider__img {
          width: 60%;
        }
        .slider__info-title {
          width: 40%;
        }
      }


    }
  }

  .slider__controls {
    &--portfolio {
      flex-wrap: wrap;
      max-width: 182px;
      margin-left: auto;
      margin-top: -100px;


      .slider__btn {
        min-width: 91px;
        height: 47px;
      }
    }
  }

  .slider__pag {
    &--portfolio {
      @include center-flex;
      width: 182px;
      height: 71px;
      background-color: transparent;
      background-image: url("../img/pag-back.svg");
      background-repeat: no-repeat;
      background-position: center;
      font-size: 50px;

      .slider__all-pag {
        font-size: 24px;
        padding-top: 20px;
      }
    }
  }

  .slider__info {
    display: block;
    position: absolute;
    right: 0;
    top: 110px;
    width: 40%;
  }

  .slider__dots {
    width: 60%;
    margin: 0;
  }

  .slider__dot {
    width: 136px;
    height: 87px;
    margin: 10px 0;

    &--active {
      border-color: #000;
    }

    img {
      position: relative;
      z-index: 1;
      width: 100%;
    }
  }
}
